{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
    <div className="App">
      <header className="App-header">
       <text class = "index-title">Fantastic Film Finder</text>
       
       <div class="Search-Genre-Name">
       <a href="{% url 'search' %}"class ="Search-Name">
         Search by Name
       </a>
       </div>
       <div class="Search-Genre-Div">
       <a href="{% url 'genres' %}"  class="Search-Genre">
         Search by Genre
       </a>
       </div>
        
     </header>
 </div>