{% load static %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">

<div class="search-div">
    <div class="allign-div">
        <form action="{% url 'displaySearch' %}" method="POST">
        {% csrf_token %}
        <div class="search-bar">
            <label class="search-label"> 
                <input type="text" name="name" class="search-text"/>
                </label>
            <input type="submit" value="Submit" class="search-button"/>
        </div>
        </form>
    </div>
    
</div>
