.search-div{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    /* font-size : 100px; */
}

.allign-div{
    align-self: center;
  /* margin-top: 100px; */
  /* display: flex; */
    flex-direction: column;
  /* align-items: center; */
    justify-content: center;
    
}

.search-bar{
    vertical-align: middle;
}

.search-text{
    font-size : 40px;
}

.search-button{
    font-size : 40px;
}
